table{
  border: 2px solid black;
}

#grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#cell{
  flex:0 0 32%;
  height: 150px;
  width: 50px;
  margin-bottom: 5px;
  background-color: #999;
}
#player1Cell{
  flex: 0 0 32%;
  height: 150px;
  width: 50px;
  margin-bottom: 5px;
  background-color: blue;
}

#player2Cell{
  flex: 0 0 32%;
  height: 150px;
  width: 50px;
  margin-bottom: 5px;
  background-color: yellow;
}